<div class="container-user-head">
	<div class="user-name">
		<div class="user-img"><img src="/uploads/avatars/{{foreignUser.avatar}}"></div>
			<div>
				<h1 class="user-title">{{foreignUser.username}}</h1>
				<div>
					{{#if user}}
					<a class="user-link" href=""><i class="fa-solid fa-file-arrow-up"></i> UPLOAD</a>
					{{/if}}
					<a class="user-link" href=""><i class="fa-solid fa-comments"></i> CHAT</a>
				</div>
			</div>
		</div>
		<div class="user-list">
			<a class="user-link" href="">POST</a>
			<a class="user-link" href="">COMMENT</a>
			<a class="user-link" href="">ABOUT</a>
		</div>
	</div>
</div>
{{> images}}