
/* SETTINGS */

.container-settings {
	width: 450px;
	margin: 10px auto;
	background-color: #dddddd;
	border-radius: 4px;
	font-family: 'Quicksand', sans-serif;
}

.head-settings {
	padding: 20px;
	margin-bottom: 1px;
	background-color: #ffffff;
}

.title-settings {
	margin: 0;
	font-weight: 600;
}

.body-settings {
	display: flex;
	flex-wrap: wrap;
	gap: 1px;
	background-color: #dddddd;
}

.options-settings {
	width: 100%;
	padding: 20px;
	background-color: #ffffff;
}

.options-title-settings {
	font-size: 24px;
	font-weight: 300;
}

.options-body-settings {
	margin-top: 12px;
}

.avatar-settings {
	display: flex;
}

.container-avatar-settings {
	width: 100%;
}

.img-avatar-settings {
	width: 100%;
}

.description-settings {
	display: flex;
	width: 100%;
	padding: 8px;
	border: none;
	outline: 1px solid #cccccc;
	border-radius: 2px;
}

.description-settings:focus {
	outline: 1px solid #43e6f1;
}

.form-settings {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 6px;
}

.label-settings {
	width: 100%;
}

.avatar-label-settings {
	width: 240px;
	height: 240px;
	margin: 0 auto;
	outline: 1px solid #cccccc;
	background-image: url('/img/label-img.png');
	cursor: pointer;
}

.avatar-file-settings {
	display: none;
}

.avatar-img-settings {
	width: 100%;
	height: 100%;
}

.container-avatar-settings {
	width: 100%;
}

.text-label-settings {
	width: 100%;
	margin-bottom: 6px;
}

.input-settings {
	width: 100%;
	padding: 6px 9px;
	border: none;
	outline: 1px solid #cccccc;
	border-radius: 3px;
}

.input-settings:focus {
	outline: 1px solid #43e6f1;
}

.btn-settings {
	margin-top: 5px;
	margin-left: auto;
	padding: 8px 32px;
	border: none;
	outline: 1px solid #dddddd;
	border-radius: 3px;
	background-color: #1a971a;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
}

.btn-settings:hover {
	background-color: #2aa72a;
}

.delete-settings {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	padding: 6px 9px;
}

.container-number-settings {
	display: flex;
	align-items: center;
}

.link-settings {
	font-size: 18px;
	color: #4c7de6;
}

.link-settings:hover {
	color: #bb54eb;
}

.hidden-settings {
	display: none;
}

.btn-delete-settings {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	border: none;
	border-radius: 50%;
	background-color: #d85656;
	color: #ffffff;
	cursor: pointer;
}

.delete-user-settings {
	margin-top: 5px;
	margin-left: auto;
	padding: 8px 32px;
	border: none;
	outline: 1px solid #dddddd;
	border-radius: 3px;
	background-color: #ee3820;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
}

.delete-user-settings:hover {
	background-color: #fe4830;
}
