<nav class="nav">
	<div class="nav-img"><a href="/"><img src="/img/imgshare-logo.png"></a></div>
	<div class="nav-search">
		<form action="/search">
			<input type="text" class="nav-input" name="q" placeholder="Search">
			<button class="nav-btn" href="/gallery" aria-label="Search" ><i class="fa-solid fa-magnifying-glass"></i></button>
		</form>
	</div>
	{{#if user}}
	<div>
		<div><a href="/logout">Logout</a></div>
	</div>
	{{else}}
	<div class="nav-sign">
		<a class="nav-login" href="/login">Log In</a>
		<a class="nav-signup" href="/signup">Sign Up</a>
	</div>
	{{/if}}
</nav>