<div class="main-container">
	<div class="card-upload">
		<div class="header-upload">
			<h2 class="title-upload">
				<i class="icon fa-solid fa-image"></i>
				Upload an Image
			</h2>
		</div>
		<div class="body-upload">
			<form action="/gallery" method="POST" enctype="multipart/form-data">
				<div class="box-upload file-upload">
					<input id="upload_image" type="file" class="input-upload file-input-upload" name="image" placeholder="" required>
					<label for="upload_image" class="custom-upload"></label>
				</div>
				<div class="box-upload">
					<input type="text" class="input-upload" name="title" placeholder="Title for the image" required>
				</div>
				<div class="box-upload">
					<textarea class="input-upload" name="description" rows="2" placeholder="Description for the image" required></textarea>
				</div>
				<div class="box-upload">
					<button class="btn-upload">
						<i class="icon fa-solid fa-upload"></i>
						Upload Image
					</button>
				</div>
			</form>
		</div>
	</div>
</div>