<div class="logo-sign"><img src="/img/imgshare-logo.png"></div>
<div class="sign">
	<div class="title-sign"> 
		Log In!
	</div>
	<form id="form-sign" action="/login" method="POST">
		<div class="body-sign">
			<div id="username" class="box-sign">
				<input type="text" class="input-sign" name="username" maxlength="255" placeholder="Username or Email">
			</div>
			<div id="password" class="box-sign">
				<input type="password" class="input-sign" name="password" maxlength="255" placeholder="Password">
			</div>
		</div>
		<div class="box-sign">
			<button class="button-sign">
				Log In
			</button>
		</div>
	</form>
</div>