<div class="container white">
	<div class="m5">
		<div class="logo"><img src="/img/imgshare-logo.jpg"></div>
		<div class="form">
			<div class="form-title"> 
				Log In!
			</div>
			<form action="/login" method="POST">
				<div class="form-body">
					<div class="box-input"><input id="username" type="text" class="form-input" name="username" maxlength="255" placeholder="Username or Email"></div>
					<div class="box-input"><input id="password" type="password" class="form-input" name="password" maxlength="255" placeholder="Password"></div>
				</div>
				<div class="box input"><button class="link-button">Log In</button></div>
			</form>
		</div>
	</div>
</div>