<div class="container white">
	<div>
		<div class="logo"><img src="/public/img/imgshare-logo.png"></div>
		<div class="form">
			<div class="form-title"> 
				Sign Up!
			</div>
			<form action="/signup" method="POST">
				<div class="form-body">
					<div class="box-input"><input id="username" type="text" class="form-input" name="username" maxlength="255" placeholder="Username" required></div>
					<div class="box-input"><input id="email" type="email" class="form-input" name="email" maxlength="255" placeholder="Email" required></div>
					<div class="box-input"><input id="password" type="password" class="form-input" name="password" maxlength="255" placeholder="Password" required></div>
					<div class="box-input"><input id="confirm_password" type="password" class="form-input" name="confirm_password" maxlength="255" placeholder="Retype Password" required></div>
				</div>
				<div class="box-input"><button class="link-button">Sign Up</button></div>
			</form>
		</div>
	</div>
</div>