<div class="logo-sign">
	<img src="/img/imgshare-logo.png">
</div>
<div class="sign">
	<div class="title-sign"> 
		Sign Up!
	</div>
	<form id="form-sign" action="/signup" method="POST">
		<div class="body-sign">
			<div id="username" class="box-sign">
				<input type="text" class="input-sign" name="username" maxlength="255" placeholder="Username">
			</div>
			<div id="email" class="box-sign">
				<input type="email" class="input-sign" name="email" maxlength="255" placeholder="Email">
			</div>
			<div id="password" class="box-sign">
				<input type="password" class="input-sign" name="password" maxlength="255" placeholder="Password">
			</div>
			<div id="confirm_password" class="box-sign">
				<input type="password" class="input-sign" name="confirm_password" maxlength="255" placeholder="Retype Password">
			</div>
		</div>
		<div class="box-sign">
			<button class="button-sign">
				Sign Up
			</button>
		</div>
	</form>
</div>